<form novalidate
      autocomplete="off"
      autocomplete="chrome-off"
      [formGroup]="formGroup"
      (ngSubmit)="onFormSubmit()"
      *ngIf="formGroup">
  <section class="grid-y grid-margin-y align-center">

    <!-- MESSAGE -->
    <div class="cell">
      <p class="message__label message__label--bold message__label--large"> Tell Us How We're Doing! </p>
    </div>

    <div class="cell">
      <p class="message__label ">We deeply appreciate your feedback. </p>
    </div>

    <!-- CATEGORY -->
    <div class="cell">

      <mat-form-field appearance="outline">

        <mat-label>Reason</mat-label>
            <mat-select formControlName="category"
                        placeholder="Please Select"
                        required>
              <ng-container *ngFor="let option of options">
              <mat-option [value]="option">{{option}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
    </div>
    
    <!-- BODY -->
    <div class="cell">
      <mat-label>Comments (*) </mat-label>
      <mat-form-field appearance="outline">

        <textarea matInput
                  rows="5"
                  formControlName="body"
                  autocomplete="none"></textarea>
      </mat-form-field>
    </div>
    <div class="cell">

      <section class="grid-x align-middle align-justify">

        <div class="cell auto">
          <div class="required">Required <span>*</span></div>
        </div>

        <div class="cell auto text-right">
          <button mat-raised-button
                  type="submit"
                  class="search-button"
                  [disabled]="!formGroup.valid">
            SUBMIT FEEDBACK
          </button>
        </div>

      </section>

    </div>
  </section>
</form>
