@import "common";

:host {
  display: block;
  margin: 0 auto;
  max-width: rem-calc(350);
}

p {
  color: $color-primary;
  font-weight: 700;
}

button {
  padding: 0 rem-calc(10);
  border-radius: rem-calc(22);
}

.clear {
  color: $color-primary;
  cursor: pointer;
  margin: 0 !important;
}

.required span {
  color: $color-secondary;
  font-size: rem-calc(16);
}

.sign-in {
  color: $color-secondary;
  text-decoration: none;
  cursor: pointer;
}
