<form novalidate
      autocomplete="off"
      autocomplete="chrome-off"
      [formGroup]="formGroup"
      (ngSubmit)="onFormSubmit()"
      *ngIf="formGroup">
  <section class="grid-y grid-margin-y align-center">

    <!-- MESSAGE -->
    <div class="cell">
      <p class="message__label message__label--bold message__label--large"> Forgot Password </p>
    </div>

    <!-- EMAIL -->
    <div class="cell">

      <mat-form-field appearance="outline">

        <mat-label>Mason Email</mat-label>

        <input matInput
               placeholder="jane.doe@gmu.edu"
               formControlName="emailAddress"
               autocomplete="none"
               required />

        <mat-error *ngIf="formGroup.controls.emailAddress.hasError('required')
                          || (formGroup.get('emailAddress').invalid && formGroup.get('emailAddress').touched)">
          Please enter a valid email address.
        </mat-error>

      </mat-form-field>

    </div>

    <ng-container *ngIf="reset">
    <!-- PASSWORD -->
    <div class="cell">

      <mat-form-field appearance="outline">

        <mat-label>New Password</mat-label>

        <input matInput
               placeholder="Must have at least 8 characters"
               formControlName="password"
               autocomplete="none"
               type="password"
               required />

        <mat-error *ngIf="formGroup.controls.password.hasError('required')
                          || (formGroup.get('password').invalid && formGroup.get('password').touched)">
          Please enter a valid Password.
        </mat-error>

      </mat-form-field>

    </div>

    <!-- VERIFY PASSWORD -->
    <div class="cell">

      <mat-form-field appearance="outline">

        <mat-label>Verify Password</mat-label>

        <input matInput
               placeholder="Must have at least 8 characters"
               formControlName="verifyPassword"
               autocomplete="none"
               type="password"
               required />

        <mat-error *ngIf="(formGroup.controls.verifyPassword.hasError('required'))
                          || (formGroup.get('verifyPassword').invalid && formGroup.get('verifyPassword').touched)
                          && (!formGroup.controls.verifyPassword.hasError('equalTo'))">
          Please enter a valid Password.
        </mat-error>
        <mat-error *ngIf="formGroup.controls.verifyPassword.hasError('equalTo') && !formGroup.controls.verifyPassword.hasError('required')">
          Passwords do not match.
        </mat-error>

      </mat-form-field>

    </div>

    <!-- VERIFICATION CODE -->
    <div class="cell">

      <mat-form-field appearance="outline">

        <mat-label>Recovery Code</mat-label>

        <input matInput
               placeholder="Enter your recovery code"
               formControlName="code"
               autocomplete="none"
               required />

        <mat-error *ngIf="(formGroup.controls.verifyPassword.hasError('required'))">
          Code can not be empty
        </mat-error>
      </mat-form-field>

    </div>
    </ng-container>
    <!-- RQUIRED AND [ CREATE AN ACCOUNT ] BUTTON -->
    <div class="cell">
        <div class="cell text-right">
          <a class="sign-in"
            (click)="resendCode()">Resend code</a>
        </div>
      <section class="grid-x align-middle align-justify">

        <div class="cell auto">
          <div class="required">Required <span>*</span></div>
        </div>

        <div class="cell auto text-right">
          <button mat-raised-button
                  type="submit"
                  class="search-button"
                  [disabled]="!formGroup.valid">
            <ng-container *ngIf="reset">RESET PASSWORD</ng-container>
            <ng-container *ngIf="!reset">REQUEST NEW PASSWORD</ng-container>
          </button>
        </div>

      </section>

    </div>

    <!-- SIGN IN LINK -->
    <div class="cell text-right">
      <a class="sign-in"
         [routerLink]="['/home/login']">Sign In</a>
    </div>

  </section>
</form>
