<section class="grid-x grid-margin-y grid-margin-x grid-padding-y align-center">
  <!-- NOT FOUND ICON -->
  <div class="cell medium-offset-2 medium-3 text-center">
    <mat-icon class="icon-not-f" [svgIcon]="'icon-Oops'"></mat-icon>
  </div>
  <div class="cell medium-auto">
    <section class="grid-x grid-margin-y">
      <!-- MESSAGE -->
      <div class="cell">
        <p class="message__label message__label--bold message__label--large">
          OOPS!
        </p>
        <p class="message__label message__label--medium">
          It looks like we can’t find a match to your entry.
        </p>
      </div>

      <!-- TRY AGAIN BUTTON
      <div class="cell">
        <button
          mat-raised-button
          type="button"
          class="search-button"
          (click)="goToSearchStudent()"
        >
          TRY AGAIN
        </button>
      </div> -->
    </section>
  </div>
</section>
