<a href="https://mason.secure.force.com/form/?formid=217757"
   (click)="openConnectWCoachForm()"
   target="_blank"
   rel="noopener">

  <section class="grid-y">
    <div class="cell">
      <h2>Connect with ADVANCE</h2>
    </div>

    <div class="cell">
      <div class="messaging">
        <p>Our ADVANCE team is here to</p>
        <p>help you get on the right track.</p>
        <p class="bold">Connect with ADVANCE now!</p>
      </div>
    </div>
  </section>

  <mat-icon class="icon-coach"
            svgIcon="icon-coach_w_bg"></mat-icon>
</a>
